// Settings
// -------------------------------------
@import '../../../../uswds/dist/scss/settings/settings-general';
@import '../../../../uswds/dist/scss/settings/settings-typography';
@import '../../../../uswds/dist/scss/settings/settings-color';
@import '../../../../uswds/dist/scss/settings/settings-spacing';
@import '../../../../uswds/dist/scss/settings/settings-utilities';
@import '../../../../uswds/dist/scss/settings/settings-components';

@import '../../../../uswds/dist/scss/core/functions';
@import '../../../../uswds/dist/scss/core/system-tokens';
@import '../../../../uswds/dist/scss/core/variables';
@import '../../../../uswds/dist/scss/core/properties';
@import '../../../../uswds/dist/scss/core/mixins/all';
@import '../../../../uswds/dist/scss/core/placeholders/all';
