  <ul class="usa-pagination usa-color-text usa-color-primary-darkest usa-color-text-white" aria-label="pagination" [ngClass]="disabled && 'disabled'">
    <li *ngIf="showPrevious()"><a tabindex="0" class="page-previous" aria-label="previous" (click)="onPreviousClick()" (keyup.enter)="onPreviousClick()">&lsaquo; Prev</a></li>
    <li><a tabindex="0" class="page-button" [ngClass]="textDecoration(1)" (click)="onPageClick(1)" [attr.aria-label]="getAriaLabel(1)" (keyup.enter)="onPageClick(1)">1</a></li>
    <li *ngIf="showFirstEllipsis()"><span class="first-ellipsis">&hellip;</span></li>
    <li *ngFor="let i of consecutivePageRange()"><a tabindex="0" class="page-button" [ngClass]="textDecoration(i)" (click)="onPageClick(i)" [attr.aria-label]="getAriaLabel(i)" (keyup.enter)="onPageClick(i)">{{i}}</a></li>
    <li *ngIf="showLastEllipsis()"><span class="last-ellipsis">&hellip;</span></li>
    <li *ngIf="showLastButton()"><a tabindex="0" class="page-button" [ngClass]="textDecoration(totalPages)" (click)="onPageClick(totalPages)" [attr.aria-label]="getAriaLabel(totalPages)" (keyup.enter)="onPageClick(totalPages)">{{totalPages}}</a></li>
    <li *ngIf="showNext()"><a tabindex="0" class="page-next" aria-label="next" (click)="onNextClick()" (keyup.enter)="onNextClick()">Next &rsaquo;</a></li>
  </ul>

<div>
  <h1 class="example2">Example 2</h1>
</div>

<div class="sam-pagination">
  <p>Showing 1 to 20  of 112 registrations  </p>
  <div class="sam-pagination__expanded">
      <a href="#"> <span class="fa fa-angle-left"></span> </a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">7</a>
      <a href="#"> <span class="fa fa-angle-right"></span> </a>
  </div>
</div>
