<nav class="usa-pagination" aria-label="pagination" [ngClass]="disabled && 'disabled'">
  <ul class="usa-color-text usa-color-primary-darkest usa-color-text-white">
    <li *ngIf="showPrevious()"><a tabindex="0" class="page-previous" aria-label="previous" (click)="onPreviousClick()" (keydown)="onPreviousClick($event)">&lsaquo; Prev</a></li>
    <li><a tabindex="0" class="page-button" [ngClass]="textDecoration(1)" (click)="onPageClick(1)" [attr.aria-label]="getAriaLabel(1)" (keydown)="onPageClick(1, $event)">1</a></li>
    <li *ngIf="showFirstEllipsis()"><span class="first-ellipsis">&hellip;</span></li>
    <li *ngFor="let i of consecutivePageRange()"><a tabindex="0" class="page-button" [ngClass]="textDecoration(i)" (click)="onPageClick(i)" [attr.aria-label]="getAriaLabel(i)" (keydown)="onPageClick(i, $event)">{{i}}</a></li>
    <li *ngIf="showLastEllipsis()"><span class="last-ellipsis">&hellip;</span></li>
    <li *ngIf="showLastButton()"><a tabindex="0" class="page-button" [ngClass]="textDecoration(totalPages)" (click)="onPageClick(totalPages)" [attr.aria-label]="getAriaLabel(totalPages)" (keydown)="onPageClick(totalPages, $event)">{{totalPages}}</a></li>
    <li *ngIf="showNext()"><a tabindex="0" class="page-next" aria-label="next" (click)="onNextClick()" (keydown)="onNextClick($event)">Next &rsaquo;</a></li>
  </ul>
</nav>
