
// Include structure
@import '../breadcrumbs/structure';
@import '../menu/structure';
@import '../table/structure';
@import '../pagination/structure';
@import '../sidenav/structure';
@import '../expansion/expansion-panel';
@import '../expansion/expansion-panel-header';
@import '../filters/sam-filter-drawer';
@import '../progress/structure';
@import '../tag/tag';
@import '../tag/tag-outline';
@import '../utilities/link';
@import '../icon/icon';
@import '../card/card';
@import '../alert/alert';
@import '../button/button';


// Include theme
@import '../core/theming/all-theme';

// Include non-theme styles for core.
@include sam-core();

// Define a theme.
$primary: sam-palette($uswds-blue, 700, 500, 900);
$secondary:  sam-palette($uswds-light-blue, 500, 200, 600);

$theme: sam-theme($primary, $secondary);

// Include all theme styles for the components.
@include sam-gov-theme($theme);
