<div sam-click-outside (clickOutside)="checkForFocus($event)" sam-tab-outside (tabOutside)="checkForFocus($event)">
  <sam-label-wrapper #wrapper [label]="settings.labelText" [name]="settings.id" [hint]="settings.labelhint"
    [showFullHint]="settings.labelShowFullHint" [required]="settings.required" [errorMessage]="settings.errorMessage">
    <div class="input-container">
      <input #input [attr.id]="settings.id" autocomplete="off" type="text" (focus)="inputFocusHandler()" (keyup)="onKeyup($event)"
        [(ngModel)]="inputValue" (ngModelChange)="onChange()" role="combobox" aria-autocomplete="list" aria-expanded="false"
        aria-haspopup="true" [attr.aria-owns]="settings.id+ '-listbox'">
      <ng-container *ngIf="!input.disabled">
        <span>
          <span role="button" class="fa fa-times-circle" aria-label="Clear input" aria-hidden="false" (click)="clearInput()"
            (keyup.enter)="clearInput()">
          </span>
          <!-- [class]="inputValue.length > 0 ? 'fa fa-times-circle reset-icon-active' : 'fa fa-times-circle reset-icon'" -->
        </span>
      </ng-container>
    </div>
    <ul *ngIf="showResults" [attr.id]="settings.id+ '-listbox'" aria-live="polite" aria-relevant="additions" role="listbox"
      class="usa-unstyled-list" [attr.aria-label]="settings.labelText">
      <ng-container *ngIf="(results && results.length > 0)">
        <li role="option" *ngFor="let result of results; let i = index" (mouseenter)="listItemHover(i)" (click)="selectItem(result)">
          <div>
            {{result['name'] +': '+ result['subtext'] }} <div *ngIf="result['highlighted']">highlighted</div>
          </div>
        </li>
      </ng-container>
      <ng-container *ngIf="(!results || results.length == 0)">
        <li>No results found</li>
      </ng-container>
    </ul>
    <ul #srOnly class="usa-sr-only" aria-live="assertive" aria-relevant="additions"></ul>
  </sam-label-wrapper>
</div>
