<sam-label-wrapper #wrapper>
  <!--[label]="labelText" [hint]="hint" [showFullHint]="showFullHint" [name]="id" [required]="required"  [errorMessage]="errorMessage"-->
  <div class="input-container">
    <input #input autocomplete="off" type="text" (focus)="inputFocusHandler($event)" (keyup)="onKeyup($event)"
      [(ngModel)]="inputValue" (ngModelChange)="onChange()" role="combobox" aria-autocomplete="list" aria-expanded="false"
      aria-haspopup="true" aria-owns="cb1-listbox">
    <!-- [attr.placeholder]="config?.placeholder"  [attr.id]="id" [attr.tabindex]="tabIndex"   [attr.title]="config?.title" [attr.name]="name"-->
    <ng-container *ngIf="!input.disabled">
      <span>
        <span role="button" class="fa fa-times-circle" aria-label="Clear input" aria-hidden="false" (click)="clearInput()"
          (keyup.enter)="clearInput()">
        </span>
        <!--  [attr.tabindex]="tabIndex"    class="{{ input.value.length > 0 ? 'reset-icon-active' : 'reset-icon'}}"-->
      </span>
    </ng-container>
  </div>
  <ul id="cb1-listbox" aria-live="polite" aria-relevant="additions" role="listbox" class="usa-unstyled-list" aria-label="States">
    <ng-container *ngIf="(results && results.length > 0)">
      <li role="option" *ngFor="let result of results">
        <div>
          {{result['name'] +': '+ result['subtext'] }} <div *ngIf="result['highlighted']">highlighted</div>
        </div>
      </li>
    </ng-container>
    <ng-container *ngIf="(!results || results.length == 0)">
      <li>No results found</li>
    </ng-container>
  </ul>

  <ul #srOnly class="usa-sr-only" aria-live="assertive" aria-relevant="additions"></ul>
</sam-label-wrapper>