<ul class="usa-sidenav-sub_list">
  <li *ngFor="let child of children; let $index = index;">
    <a tabindex="0" (click)="updateUI($index, $event, child)" (keyup.enter)="updateUI($index, $event, child)"
      [ngClass]="{'usa-current': isSelected($index),'disabled': child.disabled}">
      {{child.label}} <ng-container *ngIf="child?.iconClass"> <i [ngClass]="child.iconClass"></i></ng-container>
    </a>
    <sam-menu-item *ngIf="isSelected($index)"
                 [nodeDepth]="nodeDepth + 1"
                 [children]="child.children"
                 (selection)="emitSelectedChild($event)">
    </sam-menu-item>
  </li>
</ul>