// Header CSS ------- //

body {
	margin: 0;
}

#iae-header {
	position: relative;
	overflow: visible;
	z-index: 9999;
	display: inline-block;
	width: 100%;
	font-family: $font-sans;
	font-size: $em-base;
	color: $color-white;
}

.iae-header {
	//-moz-box-shadow: 0 0 1em rgba(#000, .4);
	//-webkit-box-shadow: 0 0 1em rgba(#000, .4);
	//box-shadow: 0 0 1em rgba(#000, .4);
	background-color: $color-primary-darkest;
	border-bottom:1px solid rgba(#000000, .2);
	box-shadow: 0 2px 4px rgba(1,2,2,0.1);
	position: relative;

	nav {
		width: 100%;
		height: auto !important;
		margin-top: 4px !important;
	}
	
	.iae-header-menu {
		float: left;
	}
	
	.iae-header-logo {
		padding-top: 25px;
		float: left;
	}
	
	.iae-header-nav {
		text-align: center;
		background-color: #18385e;
		padding-top: 20px;
		margin-right: 20px;
		float: left;
		width: 80px;
		height: 80px;
		div {
			font-weight: 700;
			font-size: 14px;
		}
	}
	
	.iae-sign-in {
		text-align: right;
		padding-top: 35px;
		font-weight: 300;
		i {
			margin-right: 20px;
		}
		@media only screen and (max-width: 768px) {
			clear: left;
			float: left;
			padding-top: 15px !important;
		}
	}

	.iae-header-search {
		float: right;
		width: 50%;
		margin-top: 2em;
		padding-right: 2em;

		@media screen and (max-width: $medium-screen) {
			display: none;
		}

		input {
			display: inline;
			width: 25em;
			margin-top: 1em;
			margin-right: 1em;
			float: right;
			padding: .5em .75em;
			border: 1px solid $color-gray-lighter;
		}
		button {
			display: inline;
			float: right;
			padding: .75em 1em;

			background-color: $color-primary-alt;
			&:hover {
				background-color: $color-primary-alt-dark;
			}
			&:active {
				background-color: $color-primary-alt-darkest;
			}
		}
	}
}