sam-banner {
  .sticky-banner {
    position: fixed;
    z-index: 20000;
    background: #f1f1f1;
    width: 100%;
  }

  /**Create circle to wrap the icon on the banner**/
  .span-circle-wrap {
    border-radius: 50%;
    width: 43px;
    line-height: 40px;
    text-align: center;
  }

  .blue-circle-wrap {
    border: 1px solid #2b81af;
    color: #2b81af;
  }

  .green-circle-wrap {
    border: 1px solid green;
    color: green;
  }

  a:hover {
    cursor: pointer;
  }
}
