<div [ngClass]="accordionsClass">
  <ul class="usa-unstyled-list">
    <li *ngFor="let accordion of accordionsData; let i = index">
      <button class="usa-button-unstyled" [attr.aria-expanded]="isExpanded(i)" 
              [attr.aria-controls]="accordionsName+'_accordions-'+i" 
              (click)="setExpandIndex(i)">{{accordion.title}}
      </button>
      <div [id]="accordionsName+'_accordions-'+i" [attr.aria-hidden]="!isExpanded(i)" 
           class="usa-accordion-content">{{accordion.content}}
      </div>
    </li>
  </ul>
</div>