<div [class.usa-input-error]="!!errorMessage">
  
  <fieldset class="usa-fieldset-inputs usa-sans">
    
    <legend [class.usa-input-error-label]="!!errorMessage">
      {{label}}
      <span *ngIf="required" class="usa-additional_text">Required</span>
      <ng-content select="[label-right]"></ng-content>
    </legend>

    <div 
      #hintContainer 
      *ngIf="hint" 
      class="usa-form-hint" 
      [innerHTML]="hint"
      [style.overflow]="showToggle && !toggleOpen ? 'hidden' : '' "
      [style.height]="showToggle && !toggleOpen ? '2.88em' : '' ">
    </div>
    
    <div *ngIf="showToggle" style="margin-bottom: 1.7rem;">
      <a href="javascript:void(0)" (click)="toggleHint(toggleOpen)">
        {{ toggleOpen?"less":"more"}}
      </a>
    </div>
    
    <span *ngIf="errorMessage" class="usa-input-error-message">
      {{errorMessage}}
    </span>
    
    <ng-content></ng-content>
    
  </fieldset>
  
</div>
