<div class='sam-fieldset-wrapper' [class.hint-toggle]="showToggle && !toggleOpen">
  <fieldset class="usa-fieldset-inputs usa-sans">
    <legend [class.usa-input-error-label]="!!errorMessage">{{label}}<span *ngIf="required" class="usa-additional_text">Required</span><ng-content select="[label-right]"></ng-content></legend>
    <span #hintContainer *ngIf="hint" class="usa-form-hint" [innerHTML]="hint"></span>
    <div *ngIf="showToggle" class="usa-form-hint-showmore-toggler"><a (click)="toggleHint(toggleOpen)" class="">{{ toggleOpen?"less":"more"}}</a></div>
    <div [class.usa-input-error]="!!errorMessage">
      <span *ngIf="errorMessage" class="usa-input-error-message">{{errorMessage}}</span>
      <ng-content></ng-content>
    </div>
  </fieldset>
</div>
