<div [class.usa-input-error]="displayErrors()">

  <fieldset class="usa-fieldset-inputs usa-sans">

    <legend *ngIf="label || required" [class.usa-input-error-label]="displayErrors()">
      {{label}}
      <span *ngIf="required" class="usa-additional_text">
        Required
      </span>
      <ng-content select="[label-right]"></ng-content>
    </legend>

    <div #hintContainer *ngIf="hint" class="usa-form-hint" aria-live="polite" [innerHTML]="hint"
      [style.overflow]="setOverflow()" [style.height]="setHeight()">
    </div>

    <div *ngIf="showToggle" class="toggle-more">
      <a href="javascript:void(0)"
        [attr.aria-label]="linkLabel? toggleOpen ? 'Less info for ' + linkLabel : 'More info for ' + linkLabel : toggleOpen ? 'less': 'more' "
        (click)="toggleHint(toggleOpen)">
        {{ toggleOpen?"less":"more"}}
      </a>
    </div>

    <span *ngIf="displayErrors()" class="usa-input-error-message" aria-live="assertive">
      <ng-container *ngIf="displayErrorList() else single">
        <ul>
          <li *ngFor="let msg of errorMessages">
            {{ msg }}
          </li>
        </ul>
      </ng-container>
      <ng-template #single>
        {{ errorMessages[0] }}
      </ng-template>
    </span>

    <ng-content></ng-content>

  </fieldset>

</div>