<div class="sam-autocomplete-multiselect" >
  <!-- Markup for input area -->
  <sam-label-wrapper #wrapper 
                    [label]="label" 
                    [hint]="hint" 
                    [name]="name" 
                    [required]="required" 
                    tab 
                    sam-click-outside 
                    (clickOutside)="checkForFocus($event)" 
                    sam-tab-outside 
                    (tabOutside)="checkForFocus($event)">
    
    <div class="sam-autocomplete-multiselect-input" [ngClass]="{ 'active': list.length > 0, 'focused': textAreaFocused }">
      
      <span class="sam-ui mini label" 
            *ngFor="let item of value" 
            [@label]=""
            (click)="deselectItem(item)">
        {{keyValueConfig?item[keyValueConfig?.valueProperty]:item?.value}} 
        <i class="icon close fa fa-times"></i>
      </span>
      
      <textarea #textArea rows="1" 
                [(ngModel)]="searchText" 
                (input)="applyTextAreaWidth($event)" 
                (focus)="textAreaFocus()" 
                (blur)="textAreaBlur()" 
                (keydown)="handleUpArrow(handleDownArrow(handleBackspaceEvent(handleEnterEvent($event))))"
                (keyup)="applyTextAreaWidth(selectOnEnter(handleEnterEvent($event)))"
                [disabled]="isDisabled">
      </textarea>
      
      <!-- Hidden span used to approximate the width of the content in the text area.
          This helps us calculate when the textArea should be on the same row as the
          spans of selected content and when the textarea should be on a line by 
          itself. -->
      <span #hiddenText class="usa-sr-only measure text">
        {{searchText}}
      </span>
    </div>
    
    <button type="button" 
            class="usa-button-link" 
            (click)="focusTextArea(clearSearch(deselectAll()))">
            Clear All
    </button>
    
    
    <!-- Markup for list display area -->
    <ul #resultsList class="usa-unstyled-list" *ngIf="list.length > 0" [@dropdown]="">
      <li *ngFor="let item of list" (click)="clearSearch(selectItem(item))">
        <p>
          {{ item[keyValueConfig?.valueProperty] }}
        </p>  
        <p class="subhead" *ngIf="item[keyValueConfig?.subheadProperty]">
          {{ item[keyValueConfig?.subheadProperty] }}
        </p>
      </li>
    </ul>
    
  </sam-label-wrapper>
</div>

