<div class="sam-page-next-header">
  <ng-content select="sam-page-title">
  </ng-content>
</div>

<ng-content select="sam-toolbar"></ng-content>

<div class="mat-sidenav-container"
  [ngClass]="{'mat-sidenav-transition': _enableTransitions}">

  <div class="mat-sidenav-backdrop"
    (click)="_onBackdropClicked()"
    [class.mat-sidenav-shown]="_isShowingBackdrop()"
  ></div>

  <ng-content select="sam-aside"></ng-content>

  <div class="mat-sidenav-content"
    [ngStyle]="_getStyles()"
    cdk-scrollable>
    <ng-content></ng-content>
  </div>
</div>
