<div class="text-center file-container" sam-drag-drop (dropEvent)="onFilesChange($event)"
     [ngClass]="disabled && 'disabled'">
  <ng-container *ngIf="!anyFiles()">
    <i class="fa fa-cloud-upload"></i> &nbsp;Drag and drop files here, or <a (click)="file.click()">browse</a>
  </ng-container>
  <ng-container *ngIf="anyFiles()">
    <div class="sam-ui mini label" *ngFor="let _file of _files">{{ _file.name }} &nbsp;
      <i class="icon close fa fa-times" (click)="removeFileFromList(_file)"></i>
    </div>
  </ng-container>

  <!-- Hidden input to trigger the browser file selector -->
  <input type="file" #file [attr.id]="name" ngModel class="hide" (change)="onFilesChange($event.target.files)" [attr.multiple]="multiple ? 'multiple' : null">
</div>
