/*******************************
      SB ADDED SORT
*******************************/

.sam-sort__wrapper{
display: flex;
flex-direction: column;
}
.sort-header{
font-size: 16px;
font-weight: 500;
color: #797979;
margin: 0;
padding: 0 !important;
}

.sort-content > option{
width: 200px;
height: 45px;
}

.sam-sort {
width: 200px;
height: 45px;
background: url("assets/img/Sortby_Arrow.svg") no-repeat right #fff;
border: 1px solid #797979;
border-radius: 2px;
}

.sam-sort select {
background: transparent;
width: 200px;
padding: 5px;
font-weight: 600;
font-size: 18px;
line-height: 1.75;
border: 0;
border-radius: 0;
height: 45px;
-webkit-appearance: none;
color: #626262;
}

.sam-sort > *:focus{
outline: 0;
box-shadow: none;
}
