// CARD
// --------------------------------

.sam-card {
  margin: 40px 0px;
  padding: 18px 20px 20px 20px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 10px 25px 5px rgba(0, 0, 0, 0.15);
}

.sam-card .sam-card__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .sam-card__header-title{
      color: #0071bc;
      font-size: 17px;
      font-weight: 700;
      line-height: 18px;
      .sam-card__header-title-counter{
          color: #212121;
      }
  }
  .sam-card__header-actions{
      display: flex;
  }
  .sam-ui.button.tiny{
      line-height: 14px;
  }
}

.sam-card .sam-card__content{
  padding: 15px 0px 0px;
}

// RESULTS CARD
// --------------------------------

.basic-card {
  border: solid #8d9297;
  background-color: #f7f9fa;
  padding: 20px;
  margin-bottom: 20px;
}

.basic-card--label {
  display: inline-block;
  font-weight: 350;
  font-size: 20px;
  margin-bottom: 0;
}

.basic-card--data {
  margin: 5px 0 30px 0 !important;
  font-weight: 600;

  ul {
    list-style-type: none;
  }
}

.basic-card--data-address {
  margin: 0 0 30px 0 !important;
  font-weight: 500;
}

.basic-card--content {
  float: right;

  h5 {
    margin-top: 0;
    font-size: 24px;
  }

  h6 {
    font-size: 22px;
    margin: 0 0 10px;
  }
}

.hr-15 {
  height: 15px;
  background-color: lightgray;
  border: none;
  margin: 20px 0;
}
