// CARD
// --------------------------------

.sam-card {
  margin: 40px 0px;
  padding: 18px 20px 20px 20px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 10px 25px 5px rgba(0, 0, 0, 0.15);
}

.sam-card .sam-card__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .sam-card__header-title{
      color: #0071bc;
      font-size: 17px;
      font-weight: 700;
      line-height: 18px;
      .sam-card__header-title-counter{
          color: #212121;
      }
  }
  .sam-card__header-actions{
      display: flex;
  }
  .sam-ui.button.tiny{
      line-height: 14px;
  }
}

.sam-card .sam-card__content{
  padding: 15px 0px 0px;
}

// RESULTS CARD
// --------------------------------

.basic-card {
  border: 1.5px solid #8d9297;
  background-color: #f7f9fa;
  padding: 20px;
  margin-bottom: 20px;
}

.basic-card--label {
  display: inline-block;
  font-weight: 350;
  font-size: 20px;
  margin-bottom: 0;
  color: #2e2e2a;
}

.basic-card--summary {
  display: inline-block;
  font-weight: 350;
  font-size: 20px;
  margin-bottom: 0;
  color: #2e2e2a;
}

.basic-card--data, h5 {
  margin: 0 0 25px 0 !important;
  font-weight: 600;
  font-size: 2rem;
  color: #2e2e2a;

  ul {
    list-style-type: none;
    padding-left: 15px;
    margin: 0;
  }
}

.basic-card--data-address {
  margin: 0 0 30px 0 !important;
  font-weight: 500;
  font-size: 1.8rem;
  color: #2e2e2a;
}

.basic-card--content {
  float: right;

  .basic-card--content-title {
    margin-top: 0;
    font-size: 24px;
    color: #2e2e2a;
  }

  h3 {
    font-size: 22px;
    margin: 0 0 10px;
    color: #2e2e2a;
  }

  dt, dd {
    font-size: 22px;
  }
}

.basic-card--content-title {
  margin-top: 0;
  padding-left: 50px;
  font-size: 24px;
  color: #2e2e2a;
  height: 35px;
  line-height: 1.35em;

  background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='54px' height='54px' viewBox='0 0 54 54' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com --%3E%3Ctitle%3EArrow_markerteel_arrow%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Arrow_marker' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Ccircle id='Oval' fill='%237EFBE1' cx='27' cy='27' r='27'%3E%3C/circle%3E%3Cpolygon id='Triangle' fill='%23FFFFFF' transform='translate(32.000000, 27.000000) rotate(-270.000000) translate(-32.000000, -27.000000) ' points='32 13 46 41 18 41'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 35px 35px;
}

.hr-15 {
  height: 12px;
  background-color: lightgray;
  border: none;
  margin-top: 20px;
}

.entity-display{

  h1 {
    font-size: 3rem;
    margin-bottom: 0px;
    color: #2e2e2a;
  }
}
