.usa-pagination ul{
  list-style-type: none !important;
}

.usa-pagination li {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 5px 5px 5px;
  color: #112e51;
  /*font: $font-sans;*/
  margin-bottom: 0;
  text-decoration: none;
  list-style: none;
}

.usa-current {
  display: inline-block;
  align-content: center;
  text-align: center;
  width: 40px;
  line-height: 40px;
  border: 1px solid #E9E9E9;
  border-radius: 50%;
  background-color: #112e51;
  color: #ffffff !important;
  box-sizing: border-box;
}

.usa-pagination li a{
  text-decoration: none;
}

.usa-pagination li a:hover{
  cursor: pointer;
}

