<div>

  <!-- View Selector-->
  <!-- <input type="radio" -->

  <!-- Hierarchy Navigator -->
  <sam-button buttonText="up"
    buttonType="primary"
    (click)="navigateToParent()"
  ></sam-button>
  <sam-select
    [(ngModel)]="selectModel"
    (change)="onAgencyChange($event)"
    name="agency select"
    [options]="options"
    [label]="label">
  </sam-select>

  <!-- 

    <sam-hierarchy-navigator [options]="[...]" <- Options must be in hierachy order, 
        0th item is current level, n-1 item is the root of the tree
      [(ngModel)]="..."
      formControlName="asdf"

    ></sam-hierarchy-navigator>
  -->

  <!-- Search Control -->
  <sam-text [(ngModel)]="textModel"
    name="filter text" label="label">
  </sam-text>
</div>





<!-- TO DO: Create Single Form Control
<ng-template>
  <sam-button buttonText="up" buttonType="primary"></sam-button>

  <sam-select
    [(ngModel)]="selectModel"
    (change)="onAgencyChange($event)"
    name="agency select"
    [options]="options"
    [label]="label">
  </sam-select>
</ng-template> -->