<div class="sam-hierarchical-tree-header">
  <!-- Hierarchy Navigator -->
  <div class="hierarchy-views">
    <h4> Views </h4>
    <a> <img src="#"> Cards </a>
    <a> <img src="#"> List </a>
  </div>

  <button type="button" class="order-results">Up</button>

  <!-- Agency Level Selector -->
  <sam-select [(ngModel)]="selectModel" (change)="onLevelChange($event)" name="levelSelect" class="levelSelect"
    [options]="options" [label]="label">
  </sam-select>

  <!-- Search Control -->
  <input #filter aria-label="search" placeholder="Search by name CGAC, AAC, or FPDS code" [(ngModel)]="filterText">
  <!-- [attr.placeholder] -->
</div>
