<footer class="usa-footer usa-footer--big">
  <div class="usa-footer__primary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="sds-footer__logo tablet:grid-col-4">
          <a
            *ngIf="logoPath"
            class="sds-footer__logo-link"
            href="{{ logoLink }}"
          >
            <img alt="{{ agency }} Logo" src="{{ logoPath }}" />
          </a>
          <h3 class="sds-footer__logo-heading">
            {{ agency }}
          </h3>
        </div>
        <div class="tablet:grid-col-8">
          <nav class="usa-footer__nav">
            <div class="grid-row grid-gap-4">
              <div class="mobile-lg:grid-col-12 desktop:grid-col-4">
                <section
                  class="usa-footer__primary-content"
                >
                  <ng-content
                    select="sam-footer-nav[position='1']"
                  ></ng-content>
                </section>
              </div>
              <div class="mobile-lg:grid-col-12 desktop:grid-col-4">
                <section
                  class="usa-footer__primary-content"
                >
                  <ng-content
                    select="sam-footer-nav[position='2']"
                  ></ng-content>
                </section>
              </div>
              <div class="mobile-lg:grid-col-12 desktop:grid-col-4">
                <section
                  class="usa-footer__primary-content"
                >
                  <ng-content
                    select="sam-footer-nav[position='3']"
                  ></ng-content>
                </section>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="sds-footer__note">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</footer>
