//layout

.entity-title {
  color: #5d5d52;
}

.entity-title--card {
  font-weight: 600;
}

.entity-link {
  text-align: right;
  margin: 15px 0;

  a {
    color: #00538e;
    font-size: 20px;
    font-weight: 600;
  }

  a:hover {
    text-decoration: none;
  }
}

.entity-accordion {
  margin-top: 10px;

  .usa-accordion-button {
    color: #0071bc;
  }
}

.entity-card {
  border: solid #8d9297;
  background-color: #f7f9fa;
  padding: 20px;
  margin-bottom: 20px;
}

.entity-card--label {
  display: inline-block;
  font-weight: 350;
  font-size: 20px;
  margin-bottom: 0;
}

.entity-card--data {
  margin: 5px 0 30px 0 !important;
  font-weight: 600;

  ul {
    list-style-type: none;
  }
}

.entity-card--data-address {
  margin: 0 0 30px 0 !important;
  font-weight: 500;
}

.entity-card--wrapper {
  padding: 0;
}

.entity-card--content {
  float: right;

  h5 {
    margin-top: 0;
    font-size: 24px;
  }

  h6 {
    font-size: 22px;
    margin: 0 0 10px;
  }
}

.hr-15 {
  height: 15px;
  background-color: lightgray;
  border: none;
  margin: 50px 0 10px;
}

.entity-card--data.SBA {
  margin: 75px 0 0 0 !important;
}

.entity-card--label.SBA {
  margin: 0 !important;
}

.entity-icon {
  color: white;
  background-color: #7EFBE1;
  border: 1px solid #7EFBE1;
  border-radius: 50%;
  padding: 5px 12px;
  margin-right: 10px;
}

 .entity-btn {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entity-btn--label {
  font-size: 24px;
  margin: 10px;
}

.entity-btn--shape {
  background-color: #00bde3;
  color: black;
  padding: 15px 25px;
  font-size: 24px;
  font-weight: 600;
}
