.event {
  .date {
    font-size: 13px;
    text-align: center;
    background: #F1F1F1;
    font-style: italic;
    padding: 0 10px;
    width: 100px !important;
    height: 25px;
  }
}

.sam.role.request {
  margin-right: 40px;
}

.sam.search.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.sam.search > .sam.tertiary.button {
  margin: 0;
}

.hierarchy.search,
.user.search {
  width: 100%;
}

.sam.icon-link {
  text-decoration: none;
}

.workspace.dash.content > .sam.search {
  flex-wrap: nowrap !important;
}

.sam-ui.button {
  margin: 0;
}
@media only screen and (max-width: 599px) {
  .sam-ui.button.basic.blue {
    line-height: 1em;
    padding: 0.7em;
  }
}
