<div class="sam-autocomplete" samClickOutside (clickOutside)="checkForFocus($event)" samTabOutside (tabOutside)="checkForFocus($event)">
  <div>
    <label *ngIf="labelText" [attr.for]="id">{{labelText}}<span class="usa-sr-only">&nbsp;autocomplete</span></label>
    <input [attr.id]="id" #input autocomplete="off" [attr.name]="name" type="text" (focus)="hasFocus = true" (change)="onChange($event.target.value)" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)" [(ngModel)]="innerValue">
  </div>
  <ul id="sam-autocomplete-results" #resultsList *ngIf="results && hasFocus">
    <li *ngFor="let result of results" (click)="setSelected(result)">{{result}}</li>
  </ul>
  <ul #srOnly class="usa-sr-only" role="status" aria-live="assertive" aria-relevant="additions">
  </ul>
</div>