<dt role="heading" aria-level="3">
    <button aria-expanded="true" (click)="open()" class="Accordion-trigger" aria-controls="sect1" id="accordion1id"
        type="button">
        <div [attr.class]="icon"></div>
        <div>{{title}}</div>
    </button>
</dt>
<dd id="sect1" role="region" aria-labelledby="accordion1id" class="Accordion-panel" [attr.class]="showSection? 'visibleSection' : 'hiddenSection'">
    <div>
        <span class="close">
            <span role="button" class="fa fa-close" aria-label="Clear input" aria-hidden="false" (click)="close()"
                (keyup.enter)="close()">
            </span>
        </span>
        <ng-content></ng-content>
    </div>
</dd>