sam-datatable th{
  background-color: #205493;
}
sam-datatable{
  display: flex;
  flex-direction: row;
}
.datatable-checkbox{
  //border: 2px solid black;
  //border-radius: 4px;
  height: 20px;
  width: 20px;
  //display: flex;
  //align-content: center;
}
.datatable-checkbox> *{
  position: relative !important;
  margin: 0 !important;
  width: 20px;
  height: 20px;
  color: transparent;
}
.datatable-checkbox> label{
  transform: translate(1px, -20px)
}
.datatable-checkbox> input{
  z-index: 1;
}
.h-select-col th:nth-child(1){
  max-width: 100px !important;
  text-align: center !important;
}

.h-select-col sam-datatable td:nth-child(1){
  max-width: 100px !important;
  text-align: center;
}
.h-select-col{
  min-height: 350px;
  max-height: 400px !important;
  overflow-y: scroll !important;
  overflow-x: scroll !important;
 }
 .empty-results{
  min-height: 350px;
  max-height: 400px !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  border-top: 3px solid #cacaca;
 }
