<div class="example-container usa-grid">
  <ng-container *ngTemplateOutlet="gridTemplate"></ng-container>
</div>

<ng-template #gridTemplate>
  <div>
    <sam-datatable #table samSort [dataSource]="hierarchicalDataSource">
      <ng-container cdkColumnDef="select">
        <th sam-header-cell *cdkHeaderCellDef sam-sort-header>Select</th>
        <td sam-cell *cdkCellDef="let row">
          <input [attr.type]="selectionMode" id="selectId" (change)="onChecked($event,row)" name="select">
          <label for="selectId"></label>
        </td>
      </ng-container>

      <ng-container *ngFor="let col of columnFieldName;let cIndex = index;" cdkColumnDef="{{col}}">
        <th sam-header-cell *cdkHeaderCellDef sam-sort-header>
          {{columnHeaderText[cIndex]}}
        </th>
        <td sam-cell *cdkCellDef="let row; let rIndex = index;"> {{row[col]}} </td>
      </ng-container>

      <tr sam-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr (click)="onRowChange($event,row)" sam-row *cdkRowDef="let row; columns: displayedColumns;
        let first = first; let last = last; let even = even; let odd = odd"></tr>
    </sam-datatable>
  </div>
</ng-template>
