sam-datatable th{
  background-color: #205493;
}
sam-datatable{
  display: flex;
  flex-direction: row;
}
.datatable-checkbox{
  height: 20px !important;
  width: 20px !important;
  box-sizing: inherit;
  //overflow: hidden;
}
.datatable-checkbox> *{
  margin: 0;
  color:transparent;
  box-sizing: inherit;
  height: 20px !important;
  width: 20px !important;
}
.datatable-checkbox> input{
  //position: unset !important;
  margin-left: 0;
  z-index: 1;
}
.h-select-col th:nth-child(1){
  max-width: 100px !important;
  text-align: center !important;
}

.h-select-col sam-datatable td:nth-child(1){
  max-width: 100px !important;
  text-align: center;
}
.h-select-col{
  min-height: 350px;
  max-height: 400px !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
 }
