<div class="hierarchical component">
    <a  #advancedLookup [attr.disabled]="disabled" *ngIf="!configuration.hideAdvancedLookup" class="advanced-link"
        (click)="onModalClick()">Advanced Lookup</a>
    <sam-hierarchical-autocomplete [disabled]="disabled" (ngModelChange)="propogateChange($event)" #autocomplete [service]="service" [(ngModel)]="model"
        [configuration]="configuration" [itemTemplate]="suggestionTemplate"></sam-hierarchical-autocomplete>
    <sam-selected-result (ngModelChange)="propogateChange($event)" [disabled]="disabled" *ngIf="!isSingleMode()" [(ngModel)]="model" [configuration]="configuration"
        [itemTemplate]="selectedItemTemplate"></sam-selected-result>
    <sam-modal class="sam-hierarchical-tree-modal" [showClose]="true" #modal [title]="configuration.modalTitle"
        [type]="'primary'" [submitButtonLabel]="configuration.modalSelectButtonLabel"
        [cancelButtonLabel]="configuration.modalCancelButtonLabel" (onSubmit)="onModalSubmitClick()">
        <sam-hierarchical-tree #hierarchicaltree [configuration]="configuration" [service]="service"
            [isSingleMode]="isSingleMode()"></sam-hierarchical-tree>
    </sam-modal>
</div>