//outline header
.sam-type--label-title {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 5px;
  color: #5d5d52;
  letter-spacing: normal;
  line-height: 1.5;
}

//====================================

// Status tag

.sds-tag[class*="sds-tag--status"] {
  white-space: nowrap;
  text-transform: uppercase;
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.87rem;
  color: #5d5d52;
  line-height: 20px;
  font-weight: 600;
  padding: 0 5px 4px 0;
  border-radius: 0;
  margin-right: 5px;
  display: inline-block;
  width: auto;
}

// Outline tag

.sam-notice[class*="sam-notice--outline"] {
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  color: #5d5d52;
  font-weight: 550;
  padding: 6px 7px 7px 7px;
  border: 1px solid #c9c9c9;
  margin-right: 14px;
  display: flex;
  width: 128px;
  background-color: #f7f9fa;
}

.sam-notice.sam-notice--outline--blue {
  border-color: #009ec1 ;
  border-style: solid; }

.sam-notice.sam-notice--outline--red {
  border-color: #fb5a47 ;
  border-style: solid; }

.sam-notice.sam-notice--outline--green {
  border-color: #00a91c ;
  border-style: solid; }

.sam-notice.sam-notice--outline--gray {
  border-color: #afaea2 ;
  border-style: solid; }

.sam-notice.sam-notice--outline--dark-gray {
  border-color: #76766a ;
  border-style: solid; }

.sam-notice.sam-notice--outline--yellow {
  border-color: #ffbe2e ;
  border-style: solid; }

.sam-notice.sam-notice--outline--blue {
  border-color: #0050d8 ;
  border-style: solid; }

.sam-notice.sam-notice--outline--light-blue {
  border-color: #00bde3 ;
  border-style: solid; }

.sam-notice.sam-notice--outline--brown {
  border-color: #936f38 ;
  border-style: solid; }

.sam-notice.sam-notice--outline--danger {
  border-color: #fb5a47 ;
  border-style: solid; }

.sam-notice.sam-notice--outline--info {
  border-color: #00bde3 ;
  border-style: solid; }

.sam-notice.sam-notice--outline--info-lighter {
  border-color: #e7f6f8 ;
  border-style: solid; }

.sam-notice.sam-notice--outline--info-light {
  border-color: #9ddfeb ;
  border-style: solid; }

.sam-notice.sam-notice--outline--info-dark {
  border-color: #009ec1 ;
  border-style: solid; }

.sam-notice.sam-notice--outline--info-darker {
  border-color: #2e6276 ;
  border-style: solid; }

.sam-notice.sam-notice--outline--error {
  border-color: #fb5a47 ;
  border-style: solid; }

.sam-notice.sam-notice--outline--error-lighter {
  border-color: #fdb8ae ;
  border-style: solid; }

.sam-notice.sam-notice--outline--error-light {
  border-color: #ff8d7b ;
  border-style: solid; }

.sam-notice.sam-notice--outline--error-dark {
  border-color: #b50909 ;
  border-style: solid; }

.sam-notice.sam-notice--outline--error-darker {
  border-color: #8b0a03 ;
  border-style: solid; }

.sam-notice.sam-notice--outline--warning {
  border-color: #ffbe2e ;
  border-style: solid; }

.sam-notice.sam-notice--outline--warning-lighter {
  border-color: #faf3d1 ;
  border-style: solid; }

.sam-notice.sam-notice--outline--warning-light {
  border-color: #fee685 ;
  border-style: solid; }

.sam-notice.sam-notice--outline--warning-dark {
  border-color: #e5a000 ;
  border-style: solid; }

.sam-notice.sam-notice--outline--warning-darker {
  border-color: #936f38 ;
  border-style: solid; }

.sam-notice.sam-notice--outline--success {
  border-color: #00a91c ;
  border-style: solid; }

.sam-notice.sam-notice--outline--success-lighter {
  border-color: #ecf3ec ;
  border-style: solid; }

.sam-notice.sam-notice--outline--success-light {
  border-color: #70e17b ;
  border-style: solid; }

.sam-notice.sam-notice--outline--success-dark {
  border-color: #4d8055 ;
  border-style: solid; }

.sam-notice.sam-notice--outline--success-darker {
  border-color: #446443 ;
  border-style: solid; }

.sam-notice.sam-notice--outline--disabled {
  border-color: #c9c9c9 ;
  border-style: solid; }


  .sam-notice--small {
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.87rem; }
  
  .sam-notice--disabled {
    background-color: #c9c9c9  !important;
    border-color: #adadad  !important;
    border-style: solid !important; }


    .sam-status {
      border-radius: 50%;
      width: 1.25rem ;
      height: 1.25rem ;
      background-color: #afaea2 ;
      display: inline-block;
      margin: 2px 5px -0.33rem 0; }
    
    .sam-status--sm {
      width: 1rem ;
      height: 1rem ;
      background-color: #afaea2 ;
      margin: 7px 6px 4px 4px; }
    
    .sam-status--circle {
      border-radius: 50%; }
    
    .sds- .sam-status--square {
      border-radius: 0; }
    
    .sam-status--blue {
      background-color: #009ec1 ; }
    
    .sam-status--red {
      background-color: #fb5a47 ; }
    
    .sam-status--green {
      background-color: #00a91c ; }
    
    .sam-status--gray {
      background-color: #afaea2 ; }
    
    .sam-status--dark-gray {
      background-color: #76766a ; }
    
    .sam-status--yellow {
      background-color: #ffbe2e ; }
    
    .sam-status--blue {
      background-color: #0050d8 ; }
    
    .sam-status--light-blue {
      background-color: #00bde3 ; }
    
    .sam-status--brown {
      background-color: #936f38 ; }
    
    .sam-status--danger {
      background-color: #fb5a47 ; }
    
    .sam-status--info {
      background-color: #00bde3 ; }
    
    .sam-status--info-lighter {
      background-color: #e7f6f8 ; }
    
    .sam-status--info-light {
      background-color: #9ddfeb ; }
    
    .sam-status--info-dark {
      background-color: #009ec1 ; }
    
    .sam-status--info-darker {
      background-color: #2e6276 ; }
    
    .sam-status--error {
      background-color: #fb5a47 ; }
    
    .sam-status--error-lighter {
      background-color: #fdb8ae ; }
    
    .sam-status--error-light {
      background-color: #ff8d7b ; }
    
    .sam-status--error-dark {
      background-color: #b50909 ; }
    
    .sam-status--error-darker {
      background-color: #8b0a03 ; }
    
    .sam-status--warning {
      background-color: #ffbe2e ; }
    
    .sam-status--warning-lighter {
      background-color: #faf3d1 ; }
    
    .sam-status--warning-light {
      background-color: #fee685 ; }
    
    .sam-status--warning-dark {
      background-color: #e5a000 ; }
    
    .sam-status--warning-darker {
      background-color: #936f38 ; }
    
    .sam-status--success {
      background-color: #00a91c ; }
    
    .sam-status--success-lighter {
      background-color: #ecf3ec ; }
    
    .sam-status--success-light {
      background-color: #70e17b ; }
    
    .sam-status--success-dark {
      background-color: #4d8055 ; }
    
    .sam-status--success-darker {
      background-color: #446443 ; }
    
    .sam-status--disabled {
      background-color: #c9c9c9 ; }
    