// COLOR UTILITIES
// --------------------------------
.sam.ink.black{
  color: #0F0F0F;
}

// Background
.bg-base-lightest{
  background-color: #f0f0f0;
}

// Text
.text-primary{
  color: #0071bc!important;
}

.text-red{
  color:#e52207!important;
}

.text-gray-30 {
  color: #adadad!important;
}