.padding-0 {
  padding: 0px!important;
}

.padding-205 {
    padding: 20px!important;
}

.padding-right-5 {
    padding-right: 40px!important;
}

@media screen and (min-width: 600px) {
    .tablet\:padding-right-5 {
        padding-right: 40px!important;
    }
  }
