// HEADERS
// --------------------------------
.sam.heading{
  display: flex;
}
.sam.heading.mobile.center{
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $medium-screen){
    flex-direction: row;
  }
}