.sam.pagination{

	// sam-front-end reset
	label{
		display: inline-block;
	}
	select{
		width: auto;
		display: inline-block;
	}

	// sam-styles
	select{
		margin: 0 5px;
		border: 1px solid #aeb0b5;
		font-size: 15px;
		color: #212121;
		height: 35px;
		padding: 5px 25px 5px 10px;
	}

	.units-per-page-selector,
	.units-info{
		display: none;
	}
	.pages-info{
		font-weight: 600;
		margin: 0 10px;
	}

}

@media screen and (min-width: 600px) {
	.sam.pagination {
		.pages-info{
			display: none;
		}
		.units-per-page-selector,
		.units-info{
			display: inline-block;
		}
		.units-info{
			margin: 0 10px;
			font-weight: 600;
		}
	}
}

//SAM Pagination example2
.example2{
	float: left;
	padding-right: 80%;
	padding-bottom: 20px;
}

.example2::after{
	clear: both;
}

/*******************************
        SB ADDED PAGINATION
  *******************************/

.sam-pagination {
  display: block;
}

.sam-pagination > p {
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
	display: inline-block;
}

.sam-pagination__expanded {
  display: inline-block;
}

.sam-pagination__expanded > a {
  display: inline-block;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
.sam-pagination__expanded > a > img{
  height: 1rem;
}

/*******************************
        SB ADDED SORT
  *******************************/

.sam-sort__wrapper{
	display: flex;
	flex-direction: column;
}
.sort-header{
	font-size: 16px;
	font-weight: 500;
	color: #797979;
	margin: 0;
	padding: 0 !important;
}

.sort-content > option{
	width: 200px;
	height: 45px;
}

.sam-sort {
	width: 200px;
	height: 45px;
	background:url("assets/img/Sortby_Arrow.svg") no-repeat right #fff;
	background-image: url(assets/img/Sortby_Arrow.svg), linear-gradient(transparent, transparent);
	border: 1px solid #797979;
	border-radius: 2px;
}

.sam-sort select {
	background: transparent;
	width: 200px;
	padding: 5px;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.75;
	border: 0;
	border-radius: 0;
	height: 35px;
	-webkit-appearance: none;
	color: #626262;
}
