.sam.pagination{

	// sam-front-end reset
	label{
		display: inline-block;
	}
	select{
		width: auto;
		display: inline-block;
	}

	// sam-styles
	select{
		margin: 0 5px;
		border: 1px solid #aeb0b5;
		font-size: 15px;
		color: #212121;
		height: 35px;
		padding: 5px 25px 5px 10px;
	}

	.units-per-page-selector,
	.units-info{
		display: none;
	}
	.pages-info{
		font-weight: 600;
		margin: 0 10px;
	}

}

@media screen and (min-width: 600px) {
	.sam.pagination {
		.pages-info{
			display: none;
		}
		.units-per-page-selector,
		.units-info{
			display: inline-block;
		}
		.units-info{
			margin: 0 10px;
			font-weight: 600;
		}
	}
}

//SAM Pagination example2
.example2{
	float: left;
	padding-right: 80%;
	padding-bottom: 20px;
}

.example2::after{
	clear: both;
}

/*******************************
        SB ADDED PAGINATION
  *******************************/

.sam-pagination {
  display: block;
}

.sam-pagination > p {
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
	display: inline-block;
}

.sam-pagination__expanded {
  display: inline-block;
}

.sam-pagination__expanded > a {
  display: inline-block;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #11304f;
}

.sam-pagination__expanded > a.active{
	color: #000000;
}

.sam-pagination__expanded > a:hover{
text-decoration: none;
}

.sam-pagination__expanded > a > img{
  height: 1rem;
}
