<div>
  <ng-container *ngTemplateOutlet="listTemplate"></ng-container>
</div>

 <ng-template #listTemplate>
  <div sam-click-outside>
    <ul role="listbox" (keyup)="onKeyup($event)" aria-label="option list" #checkboxList class="usa-unstyled-list checkbox-container">
      <li [class]="option['highlighted']? 'selected-item':''" *ngFor="let option of options; let i = index;"
      (mouseenter)="listItemHover(i)" role="option" aria-checked="false">
        <input 
        
         [disabled]="option.disabled"
         [attr.id]="option.name"
         [attr.value]="option.value"
         [attr.type]="optionsMode"
         [attr.aria-label]="option.label"
         [required]="option.required"
         [checked]="option.checked"
         (change)="onChecked($event,option)">
        <label [attr.for]="option.name">{{option.label}}</label>
      </li>
    </ul>
  </div>
</ng-template> 
