<div #labelDiv [class.usa-input-error]="!!errorMessage">
  
  <label *ngIf="!!label" 
    [attr.for]="name" 
    [class.usa-input-error-label]="errorMessage">
      {{ label || '' }}
      <span *ngIf="required || requiredFlag"
        class="usa-additional_text">
        Required
      </span>
      <ng-content select="[label-right]"></ng-content>
  </label>
  
  <div class="toggle-more">
    <div #hintContainer
      *ngIf="hint" 
      class="usa-form-hint"
      [attr.id]="hintElId"
      [innerHTML]="hint"
      [style.overflow]="setOverflow()"
      [style.height]="setHeight()">
    </div>
    <div *ngIf="showToggle && !showFullHint">
      <a href="javascript:void(0)"
        (click)="toggleHint(toggleOpen)">
        {{ toggleOpen ? "less": "more" }}
      </a>
    </div>
  </div>

  
  <span *ngIf="!!errorMessage"
    class="usa-input-error-message"
    [attr.id]="errorElId">
    {{errorMessage}}
  </span>
  
  <ng-content></ng-content>
  
</div>
