<div #labelDiv class='label-wrapper' [class.usa-input-error]="!!errorMessage" [class.hint-toggle]="showToggle && !toggleOpen">
  <label *ngIf="!!label" [attr.for]="name" [class.usa-input-error-label]="errorMessage">{{ label || '' }}<span *ngIf="required" class="usa-additional_text">Required</span></label>
  <span *ngIf="errorMessage" class="usa-input-error-message">{{errorMessage}}</span>
  <span #hintContainer *ngIf="hint" class="usa-form-hint">{{hint}}</span>
  <div *ngIf="showToggle" class="usa-form-hint-showmore-toggler"><a (click)="toggleHint(toggleOpen)" class="">{{ toggleOpen?"less":"more"}}</a></div>
  <ng-content></ng-content>
</div>