<div *ngIf="show" class="modal-backdrop"></div>
<div aria-live="assertive" aria-modal="true" #modalRoot *ngIf="show" [attr.id]="id" role="dialog" [class]="condensed ? 'modal-dialog-condensed modal-dialog' :'modal-dialog'"
	 (keydown)="closeEscape($event)" [attr.aria-labelledby]="id + '-dialog-title'" [attr.aria-describedby]="id + '-dialog-description'">
	<div #modalContent class="modal-content" tabindex="-1" sam-click-outside (clickOutside)="closeOnOutsideClick && clickOutsideReady ? closeModal() : 0">
		<div *ngIf="this.type !== 'primary'" class="usa-alert {{this.types[type].class}}">
			<div [class]="((this.type == 'plain') && (condensed))? 'usa-alert-body plain-alert-body' : 'usa-alert-body'">
				<button #closeButton class="usa-button-link pull-right" *ngIf="showClose" (click)="closeModal()" type="button"><span
						class="fa fa-times-circle" [attr.id]="modalElIds?.closeId"></span><span
						class="usa-sr-only">close
						modal</span></button>
				<span *ngIf="this.types[type].sr" class="sr-only">{{this.types[type].sr}}</span>
				<h3 *ngIf="!headerLevel" [attr.id]="id + '-dialog-title'" class="usa-alert-heading" >{{title}}</h3>
				<div *ngIf="headerLevel" [attr.id]="id + '-dialog-title'" class="usa-alert-heading" 
					role="heading" [attr.aria-level]="headerLevel">{{title}}
				</div>
			</div>
		</div>
		<div *ngIf="this.type === 'primary'" class="primary-model-body">
			<button #closeButton class="sam-primary-button pull-right" *ngIf="showClose" (click)="closeModal()" type="button"><span
					class="fa fa-times-circle" [attr.id]="modalElIds?.closeId"></span><span class="usa-sr-only">close
					modal</span></button>
			<div class="sam-primary-title">
				<ng-container *ngIf="icon">
					<sam-icon [icon]="icon" size="2x"></sam-icon>
				</ng-container>
				<h3 *ngIf="!headerLevel" [attr.id]="id + '-dialog-title'">{{title}}</h3>
				<div *ngIf="headerLevel" [attr.id]="id + '-dialog-title'" role="heading" [attr.aria-level]="headerLevel">{{title}}</div>
			</div>
		</div>
		<div class="modal-body">
			<p [attr.id]="id + '-dialog-description'" *ngIf="description">{{description}}</p>
			<ng-content></ng-content>
			<div *ngIf="cancelButtonLabel || submitButtonLabel" [ngClass]="(buttonPosition=='left') ? 'text-left' : ((buttonPosition=='right') ? 'text-right' : 'text-center')">
				<sam-button buttonType="tertiary" class="usa-button-outline usa-modal-content-cancel-btn"
							*ngIf="cancelButtonLabel" (onClick)="closeModal()" [buttonText]="cancelButtonLabel"
							[attr.id]="modalElIds?.cancelId"></sam-button>
				<sam-button buttonType="secondary" class="usa-modal-content-submit-btn" *ngIf="submitButtonLabel"
							(onClick)="submitBtnClick()" [buttonText]="submitButtonLabel" [attr.id]="modalElIds?.submitId"
							[isDisabled]="submitButtonDisabled"></sam-button>
			</div>
		</div>
	</div>
</div>
