<div class="dropdown" sam-click-outside (clickOutside)="onMoveOutside()">
    <div class="dropdown-title pointer" [ngClass]='disabled && "disabled"' role="button" tabindex="0"
        (click)="toggleItemList($event)" (keydown)="toggleItemList($event)">
        {{elementLabel}}
        <span><span class="fa fa-chevron-down"></span></span>
    </div>
    <div class="dropdown-list" #optionsList>
        <sam-checkbox [(model)]="model"
                     [options]="options"
                     [name]="name"
                     [hint]="hint"
                     [errorMessage]="errorMessage"
                     [hasSelectAll]="hasSelectAll"
                     (modelChange)="modelChanged($event)">
        </sam-checkbox>
    </div>
</div>



