.example-container.usa-grid{
  display: flex;
  flex-direction: row-wrap;
  flex-wrap: wrap;
}
.hierarchical.template{
  position: relative;
  overflow: auto;
}
.sam-hierarchical-tree-header{
  padding: 10px;
  position: relative;
}
.sam-hierarchical-tree-grid{
  padding: 10px;
  flex: 1 1 auto;
  position: relative;
}
.sam-hierarchical-tree-footer{
  padding: 10px;
  position: relative;
}
