<div class="example-container usa-grid">
  <ng-container *ngTemplateOutlet="template"></ng-container>
</div>

<ng-template #template>
  <div>
    <sam-hierarchical-tree-header 
    [options]="breadcrumbStackSelectable"    
      (selectBreadcrumb)="selectBreadcrumb.next($event)" 
      (filterText)="filterTextSubject.next($event)"
      [breadcrumbStack]="breadcrumbStack">
    </sam-hierarchical-tree-header>

    <sam-hierarchical-tree-grid 
      [templateConfigurations]="hierarchyConfiguration" 
      [gridData]="gridResults | async"
      [filterText]="hierarchyConfiguration.filterText"
      (rowChanged)="selecteHierarchyLevel.next($event)" 
      (selectResults)="selectResults$.next($event)">
    </sam-hierarchical-tree-grid>

    <sam-hierarchical-tree-footer>
      <sam-button buttonText="Select" 
      (click)="onSelect()" 
      buttonType="primary">
    </sam-button>
    </sam-hierarchical-tree-footer>
  </div>
</ng-template>