<sam-fieldset-wrapper #wrapper [label]="label" [hint]="hint" [class.stacked]="stacked">
  <sam-date
          #startDate
          *ngIf="type=='date'"
          sam-focus
          (focus)="focusHandler()"
          (blurEvent)="dateBlur($event)"
          #startControl="ngModel"
          [disabled]="disabled"
          [ngModel]="startDateValue"
          (ngModelChange)="startDateChange($event)"
          [label]="fromDateLabel"
          name= "{{id}} from date"
          class="start-date"
          [required]="required || fromRequired"></sam-date>
  <sam-date
          #endDate
          *ngIf="type=='date'"
          sam-focus
          (focus)="focusEndHandler()"
          (blurEvent)="endDateBlur()"
          #endControl="ngModel"
          [disabled]="disabled"
          [ngModel]="endDateValue"
          (ngModelChange)="endDateChange($event)"
          [label]="toDateLabel"
          name="{{id}} to date"
          class="end-date"
          [required]="required || toRequired"></sam-date>
  <sam-date-time
          #startDateTime
          *ngIf="type=='date-time'"
          sam-focus
          (focus)="focusHandler()"
          #startControl="ngModel"
          [disabled]="disabled"
          [ngModel]="startDateValue"
          (ngModelChange)="startDateChange($event)"
          [label]="fromDateLabel"
          name="{{id}} from date"
          class="start-date"
          [required]="required || fromRequired"></sam-date-time>
  <sam-date-time
          #endDateTime
          *ngIf="type=='date-time'"
          sam-focus
          (focus)="focusHandler()"
          #endControl="ngModel"
          [disabled]="disabled"
          [ngModel]="endDateValue"
          (ngModelChange)="endDateChange($event)"
          [label]="toDateLabel"
          name="{{id}} to date"
          class="end-date"
          [required]="required || toRequired"></sam-date-time>
</sam-fieldset-wrapper>
