// Globals
//
// Global declarative helper classes.
//
// Styleguide globals.global

// This style was lost between USWDS v0.9.2 and v0.9.3.
// This style is currently expected by our modals.
// [aria-hidden=true] {
// 	display: none !important;
// }

a:visited{ 
    color: $color-primary !important;
}

.usa-sidenav-list a:visited {
    color: $color-base !important;
}

.flexcontainer {
    display: flex;
    /* or inline-flex */
    flex-direction: row;
    /*row | row-reverse | column | column-reverse*/
}

.flexitem {
    flex: 1 1 auto;
    /*none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]*/
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
    
.disable {
    color: $color-gray-warm-dark;
    cursor: default;
    &:hover {
        background-color: transparent !important;
        color: $color-gray-warm-dark !important;
    }
    &:visited{
        color: $color-gray-warm-dark !important;
    }
}

.sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.show {
    display: block;
}

.hide {
    display:none;
}

.inline {
    display: inline;
}

.relative {
    position: relative
}

.width100 {
    width: 100%;
}

.middle-align {
    display: table-cell;
    vertical-align: middle
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin panel($bgcolor, $padding) {
    display: block;
    padding: $padding;
    background: $bgcolor;
    border: 1px solid darken($bgcolor, 5%);
}

hr {
    color: #888888;
    background-color: #888888;
    height: .5px;
}

.date {
    display: block;
    text-transform: uppercase;
    font-size: .8em;
    margin-bottom: .4em;
}

.centered {
    text-align: center;
}

.bold {
    font-weight: $font-bold;
}

.serif {
    font-family: $font-serif;
}

.blankSpacer {
    text-indent: -9999em;
}

.line-divider {
    display: block;
    height: 1px;
    margin: .5em 0 .5em 0;
    &:before {
        border-top: 1px solid #000000;
    }
    &:after {
        border-bottom: 1px solid #FFFFFF;
    }
}

.marginCenter {
    position: relative;
    margin: 0px 16%;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}

// borders
.iae-border-left {
    border-left: 1px solid #c3c3c3;
}

.iae-border-bottom {
    border-bottom: 1px solid #c3c3c3;
}

.iae-border-top {
    border-top: 1px solid #c3c3c3;
}
