.sam.icon{
  display: inline-block;
  font-size: inherit;
  height: 1em;
  vertical-align: -.15em;
}

// ICON IN HEADER
// --------------------------------
.sam.heading .icon{
  margin-right: 3px;
  vertical-align: middle;
}
