.sam.icon{
  display: inline-block;
  font-size: inherit;
  height: 1em;
  vertical-align: -.15em;
}

// ICON IN HEADER
// --------------------------------
.sam.heading .icon{
  display: inline-block;
  margin-right: 3px;
  width: 50px;
  height: 50px;
}

.sam-icons__library{
  display: flex;
  flex-wrap: wrap;
}
.icons-list{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.icons-list > li{
  height: 120px;
  width: 120px;
  text-align: center;
  padding: 5px;
}
.icons-list > li > *{
  display: block;
  padding: 0;
}
.icons-list > li > img{
  margin: auto;
}
