.selected-item {
  border-radius: 2px;
  background: #dce4ef;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 3px 8px;
  margin-top: 4px;
  width: calc(100% - 16px);
  max-width: 46rem;
  position: relative;
}

.selected-item-disabled {
  background: #d6d7d9;
  cursor: not-allowed;
  border: 1px solid #aeb0b5;
  color: #5b5b5b;
}

.header {
  display: block;
  font-weight: 600;
}

.close {
  position: absolute;
  top: 6px;
  right: 6px;
}

.close-disabled {
  color: #aeb0b5;

  border: hidden;
}

.sds-tag.sds-tag--chip {
  background-color: #e3f5e1;
  border: 1px solid #70e17b;
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
  font-size: 0.87rem;
  padding: 2px 5px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 0.25rem;
}

.sds-tag.sds-tag--input {
  max-width: 30rem;
  width: 100%;
  position: relative;
}

.sds-tag.sds-tag--input .sds-tag__close {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}

sds-tag.sds-tag--chip .sds-tag__close {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  text-decoration: underline;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-weight: 400;
  margin: 0 0 0 5px;
  padding: 0;
  text-align: left;
  font-size: 12px;
  color: #2e2e2a;
  cursor: pointer;
}
