<sam-fieldset-wrapper [label]="label" [hint]="hint" [errorMessage]="errorMessage" [required]="required">
  <ul class="usa-unstyled-list">
    <li *ngIf="hasSelectAll">
      <input
        [attr.disabled]="disabled?'disabled':null"
        [attr.id]="checkAllLabelOrId()"
        [attr.aria-label]="'Select all'"
        type="checkbox"
        (change)="onSelectAllChange($event.target.checked)"
        [checked]="model?.length==activeOptions"
      />
      <label [attr.for]="checkAllLabelOrId()">Select all</label>
    </li>
    <li *ngFor="let option of options; let i = index">
      <input
        [disabled]="option.disabled || disabled?'disabled':null"
        [attr.id]="option.name"
        [attr.aria-label]="option.ariaLabel ? option.ariaLabel : option.label"
        type="checkbox"
        (change)="onCheckChanged(option.value, $event.target.checked, option.name)"
        [checked]="isChecked(option.value)"
      />
      <label [innerHtml]="option.label" [attr.aria-hidden]="true" [attr.for]="option.name"></label>
    </li>
  </ul>
</sam-fieldset-wrapper>
