<!-- Add largeScreen() functionality -->
<!-- getImageContainerClass() -->

<div class="sam-ui vertically padded grid">
  
  <div class="twelve wide column" *ngFor="let row of data; let i = index">
    
    <div class="sam-ui very relaxed three column grid">  
      <div class="stretched row">
        <div class="column" *ngFor="let item of row; let j = index">
          
          <div class="sam-ui segment" (mouseenter)='over(item, i, j)' (mouseleave)='over(item, i, j)' [@overState]="item.state ? item.state : 'inactive'" tabindex="0" (keyup.enter)="selectDetail(i,j,$event)" (click)="selectDetail(i,j,$event)"  [ngClass]="getBorderClass(i, j)">
            
            <div *ngIf="hasLayer" [id]="name+'-'+i+j+'-div'">
              <h3 [id]="name+'-'+i+j+'-link'" (click)="selectDetail(i,j,$event)">
                {{item.title}}
              </h3>
            </div>
            
            <i style="position: absolute; top: 15px; right: 15px;" [id]="name+'-'+i+j+'-icon'" class="fa fa-plus" [ngClass]="getItemClass(i,j)"></i>
            <div class="sam-ui hidden divider"></div>
            <img [src]="item.img" alt="{{item.title}}" style="width: 70%;">
            
          </div>
          
          <!--Triangle div to point out which topic detail is currently showing-->
          <div class="sam-ui pointing" [@pointingInOut]="fadeSegmentInOut"></div>
          
        </div>
      </div>
    </div>
    <div class="sam-ui grid" [@slideInOut]="'in'" *ngIf="toggleDetail(i)">
      <div class="column">
        <div class="sam-ui clearing segment" [@fadeInOut]="fadeSegmentInOut">

          <a class="sam-ui top right attached label" (click)="closeReferenceDetail()">
            <i class="fa fa-times" aria-hidden="true"></i> 
          </a>
          
          <div class="sam-ui hidden divider"></div>
          
          <h3 *ngIf="showDetailTitle">
            {{detailObj.item.title}}
          </h3>
          
          <p *ngIf="!isReleaseDetail">
            {{detailObj.item.detail}}
          </p>
          
          <div class="sam-ui equal width very relaxed padded grid" *ngIf="isReleaseDetail">
            <div class="column">
              <h3 class="sam-ui header">
                What we have achieved
                <div class="sub header">
                  Release {{detailObj.item.releaseDetail.preRelease.releaseNum}} - 
                  {{detailObj.item.releaseDetail.preRelease.releaseDate}}
                </div>
              </h3>
              <ul class="sam-ui bulleted list">
                <li class="item" *ngFor="let feature of detailObj.item.releaseDetail.preRelease.releaseDetail">
                    <strong>{{feature.featureName}} - </strong>{{feature.description}}
                </li>
              </ul>
            </div>
            <div class="column">
              <h3 class="sam-ui header">
                What's up next
                <div class="sub header">
                  Release {{detailObj.item.releaseDetail.nextRelease.releaseNum}} - 
                  {{detailObj.item.releaseDetail.nextRelease.releaseDate}}
                </div>
              </h3>
              <ul class="sam-ui bulleted list">
                <li class="item" *ngFor="let feature of detailObj.item.releaseDetail.nextRelease.releaseDetail">
                  <strong>{{feature.featureName}} - </strong>{{feature.description}}
                </li>
              </ul>
            </div>
          </div>
          
          <a class="sam-ui small right floated primary button" href="{{detailObj.item.url}}" target="{{detailObj.item.title}}">
            <i *ngIf="getLinkClass()" class="icon fa fa-external-link" aria-hidden="true"></i>  
            {{detailObj.item.link}}
          </a>
          
        </div>
      </div>
    </div>
  
  </div>
  
</div>
