<div class="usa-width-one-whole alphabet-selector">
  <div class="pull-left">{{sortLabel}}:&nbsp;&nbsp;</div>

  <div class="pull-left">
    <div class="m_B-2x" *ngFor="let prefixLayer of prefixLayerArr; let i = index">
      <hr *ngIf="i !== 0" class="m_L-1x m_R-6x">
      <span class="prefix-span relative" *ngFor="let prefix of prefixLayer;  let j = index">
        <div [ngClass]="getVerticalLineClass(prefix)" *ngIf="i !== prefixLayerArr.length-1 && (j===0 || j===prefixLayer.length-1 || isInCurrentPrefix(prefix))"></div>
        <a [ngClass]="getPrefixClass(prefix)" (click)="selectPrefix(prefix)">{{prefix}}</a>
      </span>
      <br>
    </div>

  </div>
</div>
