.sam-primary-button{
  border: none;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
}
.sam-primary-button:hover{
  background-color: #112e51;
}
.primary-model-body {
  background: #112e51;
  padding-left: 2em;
  vertical-align: top;
  display: block;

  .sam-primary-title{
    display: flex;
  }

  sam-icon{
    color: white;
    margin-top: 12px;
    margin-right: 5px;
  }
  h3{
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
  }
}