@import "reset"; // Core styles that can be used to apply sam.gov design treatments to any element.
@import 'typography/all-typography';
@import 'typography/theme'; // Mixin that renders all of the core styles that are not theme-dependent.
@mixin sam-core($typography-config: null) {
  // @include sam-reset();
  @include sam-typography($typography-config);
}
// Mixin that renders all of the core styles that depend on the theme.
@mixin sam-core-theme($theme) {
  @include sam-typography-theme($theme);
}
/**********************************************
              <core-layout>
***********************************************/

.usa-core-data-content {
  display: grid;
  position: relative;
  width: 82%;
  float: right;
  text-align: center;
}

.usa-core-data-content > * {
  background-color: #F1F1F1;
  border: solid white 2px;
  text-align: center;
  float: right;
  height: 70px;
}

.usa-core-data-content::after {
  clear: both;
}

.core-sample-data {
  height: 275px !important;
  background-color: #F1F1F1;
  width: 110%;
}
@media all and (min-width: 500px) {
  #main-content {
    display: flex;
    align-items: flex-end;

    .sam-accordion-panel {
      order: 1;
      display: block;
    }

    #sect1 {
      display: block;
    }

    .usa-core-data-content {
      order: 2;
      width: 100%;
      margin: auto;
    }
  }

  .usa-core-data-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    #core-data-title {
      order: 1;
      width: 70%;
      display: block;
      position: relative;
    }

    #core-primary-action {
      order: 2;
      width: 30%;
      display: block;
      position: relative;
    }

    #core-navigate-results {
      order: 3;
      width: 80%;
      display: block;
      position: relative;
    }

    #core-secondary-action {
      order: 4;
      width: 20%;
      display: block;
      position: relative;
    }

    #core-sample-data {
      order: 5;
      width: 100%;
      height: 355px !important;
      display: block;
      position: relative;
    }

    .sam-accordion-panel > dd {
      .usa-core-data-content {
        visibility: visible;
        z-index: 1;
      }
    }
  }
}

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-sds-green: (
  50: #e8f5e9,
  100: #c8e6c9,
  200: #a5d6a7,
  300: #81c784,
  400: #66bb6a,
  500: #4caf50, //Material default
  600: #43a047,
  700: #388e3c,
  800: #2e7d32,
  900: #1b5e20,
  A100: #b9f6ca,
  A200: #69f0ae,
  A400: #00e676,
  A700: #00c853,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sds-mat-app-primary: mat-palette($mat-sds-green);
$sds-mat-app-accent:  mat-palette($mat-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sds-mat-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$sds-mat-app-theme: mat-light-theme($sds-mat-app-primary, $sds-mat-app-accent, $sds-mat-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sds-mat-app-theme);


