@import "reset"; // Core styles that can be used to apply sam.gov design treatments to any element.
@import 'typography/all-typography';
@import 'typography/theme'; // Mixin that renders all of the core styles that are not theme-dependent.
@mixin sam-core($typography-config: null) {
  // @include sam-reset();
  @include sam-typography($typography-config);
}
// Mixin that renders all of the core styles that depend on the theme.
@mixin sam-core-theme($theme) {
  @include sam-typography-theme($theme);
}
/**********************************************
              <core-layout>
***********************************************/

.usa-core-data-content {
  display: grid;
  position: relative;
  width: 82%;
  float: right;
  text-align: center;
}

.usa-core-data-content > * {
  background-color: #F1F1F1;
  border: solid white 2px;
  text-align: center;
  float: right;
  height: 70px;
}

.usa-core-data-content::after {
  clear: both;
}

.core-sample-data {
  height: 275px !important;
  background-color: #F1F1F1;
  width: 110%;
}
@media all and (min-width: 500px) {
  #main-content {
    display: flex;
    align-items: flex-end;

    .sam-accordion-panel {
      order: 1;
      display: block;
    }

    #sect1 {
      display: block;
    }

    .usa-core-data-content {
      order: 2;
      width: 100%;
      margin: auto;
    }
  }

  .usa-core-data-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    #core-data-title {
      order: 1;
      width: 70%;
      display: block;
      position: relative;
    }

    #core-primary-action {
      order: 2;
      width: 30%;
      display: block;
      position: relative;
    }

    #core-navigate-results {
      order: 3;
      width: 80%;
      display: block;
      position: relative;
    }

    #core-secondary-action {
      order: 4;
      width: 20%;
      display: block;
      position: relative;
    }

    #core-sample-data {
      order: 5;
      width: 100%;
      height: 355px !important;
      display: block;
      position: relative;
    }

    .sam-accordion-panel > dd {
      .usa-core-data-content {
        visibility: visible;
        z-index: 1;
      }
    }
  }
}
