// Alert tag - Warning

.sam-alert {
  background-color: #faf3d1;
  border-radius: 8px;
  max-width: 320px;
  display: flex;
  align-items: center;
  margin: 5px 10px 0 0;
}

.sam-alert > img {
  height: 50px;
  margin: 10px;
  color: #fbc036;
}

.sam-alert-content {
  display: inline-block;
}

// Alert tag - Information

.sam-alert--info {
  background-color: #EFF6FB;
  border: 2px solid #5994F6;
  margin: 2rem 0;
  height: 70px;
  display: flex;

  img {
    margin: auto 10px;
  }

  p {
    font-size: 20px;
    color: #616161;
    margin: auto 0;
    padding: 0 !important;
  }
}

//sam alert next

.sam-alert-checked, .sam-alert-unchecked{

  font-size: 22px;

  svg {
    color: black;
    margin-right: 10px;
  }
}
