<ul class="sam-breadcrumbs">
  <li class="sam-crumb" *ngFor="let crumb of crumbs">
    <ng-container *ngIf="crumb.url && !crumb.urlmock">
      <a [routerLink]="[crumb.url]" [queryParams]="crumb.queryParams">{{crumb.breadcrumb}}</a>
    </ng-container>
    <ng-container *ngIf="!crumb.url && !crumb.urlmock">
      <span>{{crumb.breadcrumb}}</span>
    </ng-container>
    <ng-container *ngIf="crumb.urlmock">
      <a href="javascript:void(0)" class="crumb-cursor-pointer" (click)="crumbHandler(crumb.breadcrumb)" (keyup.enter)="crumbHandler(crumb.breadcrumb)">{{crumb.breadcrumb}}</a>
    </ng-container>
  </li>
</ul>
